<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
{% block body %}

    <h3>Addition</h3>
    <div id="addition">
        <input name="number1">
        +
        <input name="number2">
        =
        <span class="resultsum"></span>
    </div>

    <h3>Substraction</h3>
    <div id="substraction">
        <input name="minuend">
        -
        <input name="subtrahend">
        =
        <span class="resultsub"></span>
    </div>

    <h3>Multiplication</h3>
        <div id="multiplication">
            <input name="numbermul1">
            *
            <input name="numbermul2">
            =
            <span class="resultmultiplication"></span>
        </div>

    <h3>Division</h3>
    <div id="division">
        <input name="dividend">
        /
        <input name="divisor">
        =
        <span class="resultdiv"></span>
    </div>




{% endblock %}
{% block javascripts %}
    <script>

        $('#addition input').change(function () {
            var numbers = $('input[name=number1]').val() + ',' + $('input[name=number2]').val();
            $.ajax({url: "/addition?numbers=" + numbers}).done(function(res){$('.resultsum').text(res)})
        })

        $('#substraction input').change(function () {
            var minuend = $('input[name=minuend]').val();
            var subtrahend = $('input[name=subtrahend]').val();
            $.ajax({url: "/substraction?minuend=" + minuend + '&subtrahend='+subtrahend}).done(function(res){$('.resultsub').text(res)})
        })

        $('#multiplication input').change(function () {
            var numbers = $('input[name=numbermul1]').val() + ',' + $('input[name=numbermul2]').val();
            $.ajax({url: "/multiplication?numbers=" + numbers}).done(function(res){$('.resultmultiplication').text(res)})
        })

        $('#division input').change(function () {
            var dividend = $('input[name=dividend]').val();
            var divisor = $('input[name=divisor]').val();
            $.ajax({url: "/division?dividend=" + dividend + '&divisor='+divisor}).done(function(res){$('.resultdiv').text(res)})
        })
    </script>


{% endblock %}
</body>
</html>
